<section id="banner">
    <div class="inner">
        <h1></h1>
        <p>
            </p>
    </div>
    <video autoplay loop muted playsinline src="images/video.mp4" ></video>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="images/pizza.jpg" height="600" width="400" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Need a recipe, look no futher. Sign Up Now.</h2>
                    <p>Whether you need a main course, starter or dessert Cookz has it all. Each recipe includes course type, ingredients, cooking instructions and allergies. Also don't forget to like that like botton is you liked a recipe.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="images/chicken.jpg"height="600" width="400" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Create and store your recipes online</h2>
                    <p>Cookz provides service that allows users to create and store their own personal cookbook online. Sign up today to start creating your cookbook!!!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="images/la.jpg" height="600" width="400"alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Want to know whats in your fridge at all times?</h2>
                    <p>Have you ever gone food shopping and questioned if you had a certain item in your fridge? The solution to that is Cookz unique camera feature that allows users to view a livestream of there fridge. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper">
    <div class="inner">
        <p>Have you ever gone food shopping and questioned if you had a certain item in your fridge? The solution to that is Cookz unique camera feature that allows users to view a livestream of there fridge. </p>
    </div>
</section>


<!-- Testimonials -->
<section class="wrapper">
    <div class="inner">
        <header class="special">
             </header>
        <div class="testimonials">
            <section>
                <div class="content">
                    <blockquote>
                        <p>"When you acknowledge, as you must, that there is no such thing as perfect food, only the idea of it, then the real purpose of striving toward perfection becomes clear: to make people happy, that is what cooking is all about.."</p>
                    </blockquote>
                    <div class="author">
                        <div class="image">
                            <img src="images/tom.jpg" height="40" alt="" />
                        </div>
                        <p class="credit">- <strong>Thomas Keller</strong></p>
                    </div>
                </div>
            </section>
            <section>
                <div class="content">
                    <blockquote>
                        <p>"I think every chef, not just in America, but across the world, has a double-edged sword - two jackets, one that's driven, a self-confessed perfectionist, thoroughbred, hate incompetence and switch off the stove, take off the jacket and become a family man."</p>
                    </blockquote>
                    <div class="author">
                        <div class="image">
                            <img src="images/pic4.jpg" height="50" alt="" />
                        </div>
                        <p class="credit">- <strong>Gordon Ramsay</strong></p>
                    </div>
                </div>
            </section>
            <section>
                <div class="content">
                    <blockquote>
                        <p>"I tell a student that the most important class you can take is technique. A great chef is first a great technician. 'If you are a jeweler, or a surgeon or a cook, you have to know the trade in your hand. You have to learn the process. You learn it through endless repetition until it belongs to you."</p>
                    </blockquote>
                    <div class="author">
                        <div class="image">
                            <img src="images/jp.jpg" height="50" alt="" />
                        </div>
                        <p class="credit">- <strong>Jacques Pepín</strong> </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>



