main 					{
    padding-top:30px;
}

/* HEADER 
===================== */
header .navbar 		{
    border-radius:0;
}

/* NGANIMATE
====================== */

/* show and hide */
.show-hide-message.ng-hide-remove {
    -webkit-animation:zoomIn 0.3s both ease;
    -moz-animation:zoomIn 0.3s both ease;
    animation:zoomIn 0.3s both ease;
}

/* ANIMATIONS
====================== */
.spinner {
    -webkit-animation:spin 1s infinite;
    -moz-animation:spin 1s infinite;
    animation:spin 1s infinite;
}

@keyframes spin {
    from 	{ transform:rotate(0deg); }
    to 	{ transform:rotate(360deg); }
}

@-webkit-keyframes spin {
    from 	{ -webkit-transform:rotate(0deg); }
    to 	{ -webkit-transform:rotate(360deg); }
}

@-moz-keyframes spin {
    from 	{ -moz-transform:rotate(0deg); }
    to 	{ -moz-transform:rotate(360deg); }
}


 #rec {
     font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
     border-collapse: collapse;
     width: 100%;
 }

#rec td, #rec th {
    border: 1px solid #ddd;
    padding: 8px;
}

#rec tr:nth-child(even){background-color: #f2f2f2;}

#rec tr:hover {background-color: #ddd;}

#rec th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: cornflowerblue;
    color: white;
}

body {
    background-color: lightblue;
}

body {margin:0;}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 40px;
    width: 90px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8px 2px;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    width: 90px;
    height: 50px;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

