<style type="text/css">
    .form-style-1 {
        margin:10px auto;
        max-width: 800px;
        padding: 20px 12px 10px 20px;
        font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }
    .form-style-1 li {
        padding: 0;
        display: block;
        list-style: none;
        margin: 10px 0 0 0;
    }
    .form-style-1 label{
        margin:0 0 3px 0;
        padding:0px;
        display:block;
        font-weight: bold;
    }
    .form-style-1 input[type=text],
    .form-style-1 input[type=date],
    .form-style-1 input[type=datetime],
    .form-style-1 input[type=number],
    .form-style-1 input[type=search],
    .form-style-1 input[type=time],
    .form-style-1 input[type=url],
    .form-style-1 input[type=email],
    textarea,
    select{
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        border:1px solid #BEBEBE;
        padding: 7px;
        margin:0px;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
    }
    .form-style-1 input[type=text]:focus,
    .form-style-1 input[type=date]:focus,
    .form-style-1 input[type=datetime]:focus,
    .form-style-1 input[type=number]:focus,
    .form-style-1 input[type=search]:focus,
    .form-style-1 input[type=time]:focus,
    .form-style-1 input[type=url]:focus,
    .form-style-1 input[type=email]:focus,
    .form-style-1 textarea:focus,
    .form-style-1 select:focus{
        -moz-box-shadow: 0 0 8px #88D5E9;
        -webkit-box-shadow: 0 0 8px #88D5E9;
        box-shadow: 0 0 8px #88D5E9;
        border: 1px solid #88D5E9;
    }
    .form-style-1 .field-divided{
        width: 49%;
    }

    .form-style-1 .field-long{
        width: 100%;
    }
    .form-style-1 .field-select{
        width: 100%;
    }
    .form-style-1 .field-textarea{
        height: 100px;
    }
    .form-style-1 input[type=submit], .form-style-1 input[type=button]{
        background: #4B99AD;
        padding: 8px 15px 8px 15px;
        border: none;
        color: #fff;
    }
    .form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
        background: #4691A4;
        box-shadow:none;
        -moz-box-shadow:none;
        -webkit-box-shadow:none;
    }
    .form-style-1 .required{
        color:red;
    }
</style>

<br><br><br>
<h1>Shopping List</h1>


<p>{{ message }}</p>
<div ng-controller="addShoppingList">
    <form ng-submit="addShoppingList(addData)">
        <ul class="form-style-1">
            <li>
                <label>Item 1:<span class="required"></span></label>
                <input class="form-control" type="text" name="item1" placeholder="Please the recipe name" ng-model="addData.item"  width="800">
            </li>
            <li>
                <label>Item 2:<span class="required"></span></label>
                <input class="form-control" type="text" name="item2" placeholder="Please the recipe name" ng-model="addData.item2"  width="800">
            </li>
            <li>
                <label>Item 3:<span class="required"></span></label>
                <input class="form-control" type="text" name="item3" placeholder="Please the recipe name" ng-model="addData.item3"  width="800">
            </li>
            <li>
                <label>Item 4:<span class="required"></span></label>
                <input class="form-control" type="text" name="item4" placeholder="Please the recipe name" ng-model="addData.item4"  width="800">
            </li>
            <li>
                <label>Item 5:<span class="required"></span></label>
                <input class="form-control" type="text" name="item5" placeholder="Please the recipe name" ng-model="addData.item5"  width="800">
            </li>
            <li>
                <label>Item 6:<span class="required"></span></label>
                <input class="form-control" type="text" name="ite6" placeholder="Please the recipe name" ng-model="addData.item6"  width="800">
            </li>
            <li>
                <label>Item 7:<span class="required"></span></label>
                <input class="form-control" type="text" name="item7" placeholder="Please the recipe name" ng-model="addData.item7"  width="800">
            </li>
            <li>
                <label>Item 8:<span class="required"></span></label>
                <input class="form-control" type="text" name="item8" placeholder="Please the recipe name" ng-model="addData.item8"  width="800">
            </li>
            <li>
                <label>Item 9:<span class="required"></span></label>
                <input class="form-control" type="text" name="item9" placeholder="Please the recipe name" ng-model="addData.item9"  width="800">
            </li>
            <li>
                <label>Item 10:<span class="required"></span></label>
                <input class="form-control" type="text" name="item10" placeholder="Please the recipe name" ng-model="addData.item10"  width="800">
            </li>
            <li>
                <label>Item 11:<span class="required"></span></label>
                <input class="form-control" type="text" name="item11" placeholder="Please the recipe name" ng-model="addData.item11"  width="800">
            </li>
            <li>
                <label>Item 12:<span class="required"></span></label>
                <input class="form-control" type="text" name="item12" placeholder="Please the recipe name" ng-model="addData.item12"  width="800">
            </li>
            <li>
                <label>Item 13:<span class="required"></span></label>
                <input class="form-control" type="text" name="item13" placeholder="Please the recipe name" ng-model="addData.item13"  width="800">
            </li>
            <li>
                <label>Item 14:<span class="required"></span></label>
                <input class="form-control" type="text" name="item14" placeholder="Please the recipe name" ng-model="addData.item14"  width="800">
            </li>
            <li>
                <label>Item 15:<span class="required"></span></label>
                <input class="form-control" type="text" name="item15" placeholder="Please the recipe name" ng-model="addData.item15"  width="800">
            </li>

            <li>
            <li>
                <input type="submit" value="Submit" />
            </li>
        </ul>
    </form>

</div>