<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<style>

</style>


<div class="container">

    <div class="row">
        <div class="col-md-4">
            <figure class="card card-product">
                <div class="img-wrap"><img src="images/pizza.jpg" width="300" height></div>
                <figcaption class="info-wrap">
                    <h4 class="title">Another name of item</h4>
                    <p class="desc">Some small description goes here</p>
                    <div class="rating-wrap">
                        <div class="label-rating">132 reviews</div>
                        <div class="label-rating">154 orders </div>
                    </div> <!-- rating-wrap.// -->
                </figcaption>
                <div class="bottom-wrap">
                    <a href="" class="btn btn-sm btn-primary float-right">Order Now</a>
                    <div class="price-wrap h5">
                        <span class="price-new">$1280</span> <del class="price-old">$1980</del>
                    </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
        </div> <!-- col // -->
        <div class="col-md-4">
            <figure class="card card-product">
                <div class="img-wrap"><img src="https://s9.postimg.org/ojb106167/image.jpg"> </div>
                <figcaption class="info-wrap">
                    <h4 class="title">Good product</h4>
                    <p class="desc">Some small description goes here</p>
                    <div class="rating-wrap">
                        <div class="label-rating">132 reviews</div>
                        <div class="label-rating">154 orders </div>
                    </div> <!-- rating-wrap.// -->
                </figcaption>
                <div class="bottom-wrap">
                    <a href="" class="btn btn-sm btn-primary float-right">Order Now</a>
                    <div class="price-wrap h5">
                        <span class="price-new">$1280</span> <del class="price-old">$1980</del>
                    </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
        </div> <!-- col // -->
        <div class="col-md-4">
            <figure class="card card-product">
                <div class="img-wrap"><img src="https://s9.postimg.org/4ooze1tof/image.jpg"></div>
                <figcaption class="info-wrap">
                    <h4 class="title">Product name goes here</h4>
                    <p class="desc">Some small description goes here</p>
                    <div class="rating-wrap">
                        <div class="label-rating">132 reviews</div>
                        <div class="label-rating">154 orders </div>
                    </div> <!-- rating-wrap.// -->
                </figcaption>
                <div class="bottom-wrap">
                    <a href="" class="btn btn-sm btn-primary float-right">Order Now</a>
                    <div class="price-wrap h5">
                        <span class="price-new">$1280</span> <del class="price-old">$1980</del>
                    </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
        </div> <!-- col // -->
    </div> <!-- row.// -->



</div>
<!--container.//-->

