<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<!-- MAIN (Center website) -->
<div class="main">

    <h2>Recipes of the Week</h2>
    <!-- Portfolio Gallery Grid -->
    <div class="content">
        <img src="./images/pizza.jpg" alt="Bear" style="width:100%">
        <h3>Some Other Work</h3>
        <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
        <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>

    <div class="row">
        <div class="column">
            <div class="content">
                <img src="./images/pizza.jpg" alt="Mountains" style="width:100%">
                <h3>My Work</h3>
                <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img src="./images/pizza.jpg" alt="Lights" style="width:100%">
                <h3>My Work</h3>
                <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img src="./images/pizza.jpg" alt="Nature" style="width:100%">
                <h3>My Work</h3>
                <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img src="./images/pizza.jpg" alt="Mountains" style="width:100%">
                <h3>My Work</h3>
                <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
            </div>
        </div>


        <!-- END GRID -->
    </div>


    <!-- END MAIN -->
</div>

</body>
</html>

