
<!--<div class="page-header">-->
    <!--<h1>Hello {{main.username}} from about route</h1>-->
<!--</div>-->

    <h1>List All Recipes</h1>

    <p>{{ message }}</p>

    <div ng-controller="recipesController as list">
        <table align="center" valign="middle">



            <div class="row">
                <div class="col-md-6">
                    <figure class="card card-product">
                        <div class="img-wrap"><img src="images/pizza.jpg"></div>
                        <tbody ng-repeat="recipe in recipes | orderBy:recipename| filter: searchPosts"  class="recipes">
                        <tr style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle"; >
                        <tr>
                            <th>Recipe Name</th>
                            <td>
                                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{recipe.recipename}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Category</th>
                            <td>
                                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{recipe.recipetype}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Ingredients</th>
                            <td>
                                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{recipe.ingredients}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Cooking Instructions</th>
                            <td>
                                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{recipe.cookingInstructions}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Dietary Restrictions</th>
                            <td>
                                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{recipe.dietaryRestrictions}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Created On:</th>
                            <td>
                                {{ recipe.time_created | date: 'h:mm a on MMMM d, y' }}
                            </td>
                        </tr>
                        <tr>
                            <th>Created by:</th>
                            <td>
                                {{main.username}}
                            </td>
                        </tr>
                        </tbody>
                    </figure>
                        <div class="bottom-wrap">
                            <a href="" class="btn btn-sm btn-primary float-right">Order Now</a>

                        </div> <!-- bottom-wrap.// -->

                    <button type="button" class="bottom-wrap" ng-click="delete(recipe._id)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>


                    <button type="button" class="btn btn-default" ng-click="update(recipe)">
                            <span><span class="glyphicon glyphicon-edit" ng-click="updateRecipe(recipe._id)"></span>
                        {{recipe.update}}</span>
                    </button>


                    <button type="button" class="btn btn-default" ng-click="upvote(recipe)">
                            <span><span class="glyphicon glyphicon-heart" ng-click="incrementUpvotes(recipe._id)"></span>
                        {{recipe.rating}}</span>
                    </button>
                    </figure>

</div>
            </div>
        </table>
    </div>