<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="assets/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="assets/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="assets/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="assets/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="assets/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="assets/css/loginstyle.css">
    <!--===============================================================================================-->
</head>
<body>
<!--<div class="page-header">-->
    <!--<h1>User Registration</h1>-->
<!--</div>-->
<div class="container-login100" style="background-image: url('images/chicken.jpg');">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
<form class="login100-form validate-form" name="regForm" ng-submit="register.regUser(regData, regForm.$valid);" novalidate>
    <span class="login100-form-title p-b-37">
					Register
				</span>
    <div ng-class="{'has-success':(regForm.name.$valid && !regForm.name.$pristine), 'has-error':(!regForm.name.$valid && !regForm.name.$pristine) || (!regForm.name.$valid && regForm.$submitted) }">

        <label>Name:</label>
        <input class="form-control" type="text" name="name", placeholder="please enter name address" ng-model="register.regData.name" ng-pattern="/^(([a-zA-Z]{3,25})+[ ]+([a-zA-Z]{3,25})+)+$/" ng-minlength="3" ng-maxlength="25" required>
        <p class="help-block" ng-show="(!regForm.name.$pristine && regForm.name.$error.required) || (regForm.$submitted && regForm.name.$error.required)">This field is required</p>
        <ul ng-show="(!regForm.name.$pristine && regForm.name.$error.pattern) || (!regForm.name.$pristine && regForm.name.$error.minlength) || (!regForm.name.$pristine && regForm.name.$error.maxlength)" class="help-block">
            <li>Must have a space in between first and last name</li>
            <li>Must not contain any special characters</li>
            <li>Must not contain any numbers</li>
            <li>Must be at least 3 characters but no more than 25</li>
        </ul>
    </div>
    <br>

    <div ng-class="{'has-success':(regForm.email.$valid && !regForm.email.$pristine && !register.emailInvalid), 'has-error':(!regForm.email.$valid && !regForm.email.$pristine) || (!regForm.email.$valid && regForm.$submitted) || register.emailInvalid }">
        <label>Email:</label>
        <input class="form-control" type="text" name="email", placeholder="please enter email address" ng-model="register.regData.email" ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" ng-minlength="3" ng-maxlength="35" ng-blur="register.checkEmail(regData);" required>
        <p class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.required) || (regForm.$submitted && regForm.email.$error.required)">This field is required</p>
        <span ng-show="register.checkingEmail" class="glyphicon glyphicon-refresh"> <p class="help-block" ng-show="register.emailMsg && !regForm.email.$error.required && regForm.username.$valid">{{register.emailMsg}}</p></span>

        <ul ng-show="(!regForm.email.$pristine && regForm.email.$error.pattern) || (!regForm.email.$pristine && regForm.email.$error.minlength) || (!regForm.email.$pristine && regForm.email.$error.maxlength)" class="help-block">
        <li>Must contain "@"</li>
        <li>Must not contain any special characters</li>
    </ul>
    </div>
    <br>



    <div ng-class="{'has-success':(regForm.username.$valid && !regForm.username.$pristine && !register.usernameInvalid), 'has-error':(!regForm.username.$valid && !regForm.username.$pristine) || (!regForm.username.$valid && regForm.$submitted) || register.usernameInvalid }">
        <label>Username:</label>
        <input class="form-control" type="text" name="username", placeholder="please enter username address" ng-model="register.regData.username" ng-pattern="/^(?!.*?[\W])(?=.*[a-zA-z]|=.*?[A-Z]).{3,16}$/" ng-minlength="3" ng-maxlength="25" ng-blur="register.checkUsername(regData);" required>
        <p class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.required) || (regForm.$submitted && regForm.username.$error.required)">This field is required</p>
        <span ng-show="register.checkingUsername" class="glyphicon glyphicon-refresh"></span><p class="help-block" ng-show="register.usernameMsg && !regForm.username.$error.required && regForm.username.$valid">{{register.usernameMsg}}</p>
        <ul ng-show="(!regForm.username.$pristine && regForm.username.$error.pattern) || (!regForm.username.$pristine && regForm.username.$error.minlength) || (!regForm.username.$pristine && regForm.username.$error.maxlength)" class="help-block">
            <li>Must not contain any special characters</li>
            <li>Must be at least 3 characters but no more than 25</li>
        </ul>
    </div>
    <br>



    <div ng-class="{'has-success':(regForm.firstPassword.$valid && !regForm.firstPassword.$pristine), 'has-error':(!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted) }">

        <!-- Password Input -->
        <label>Password:</label>
        <input ng-disabled="register.disabled" class="form-control" type="password" name="firstPassword" placeholder="Password *" ng-model="firstPassword" ng-minlength="8" ng-maxlength="35" ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/" required>
        <!-- Password Validation -->
        <p class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)">This field is required</p>
        <ul ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)" class="help-block">
            <li>Must contain at least one upper case letter</li>
            <li>Must contain at least one lower case letter</li>
            <li>Must contain at least one number</li>
            <li>Must contain at least one special character</li>
            <li>Must contain at least 8 characters but no more than 35</li>
        </ul>
    </div>
    <br>
    <div ng-class="{ 'has-success':confirmed && !regForm.confirmPassword.$error.required, 'has-error':(!confirmed && !regForm.confirmPassword.$error.required) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.$submitted && regForm.confirmPassword.$error.required) }">
        <label>Confirm Password:</label>
        <input class="form-control" type="password" name="confirmPassword", placeholder="please enter password address"match="{{[firstPassword]}} " ng-change="register.regData.password = confirm" ng-model="confirm"required>
        <p class="help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">This field is required</p>
        <p class="help-block" ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">Passwords do not match</p>
    </div>


<br>
    <div class="container-login100-form-btn">
    <button class="login100-form-btn" type="submit">Register</button>
    </div>

</form>


</div>
</div>

<div class="jumbotron text-center" ng-show="register.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading........</p>
</div>
<br>


<div clas="row show-hide-message" ng-show="register.successMsg">
    <div class="alert alert-success">
        {{register.successMsg}}
    </div>
</div>

<br>

<div clas="row show-hide-message" ng-show="register.errorMsg">
    <div class="alert alert-danger">
        {{register.errorMsg}}
    </div>
</div>


<!--===============================================================================================-->
<script src="assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="assets/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="assets/vendor/bootstrap/js/popper.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="assets/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="assets/vendor/daterangepicker/moment.min.js"></script>
<script src="assets/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="assets/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="assets/js/mainlogin.js"></script>

</body>
</html>